{#
| Variable         | Type       | Description                                                         |
|------------------|------------|---------------------------------------------------------------------|
| page             | object     |                                                                     |
| page.title       | string     | *could be html                                                      |
| page.slug        | string     | ex: "cat.show"                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
{# {% set filters = true %} #}
{% if filters %}
    <button class="btn--close-sm close-filters sicon-cancel hidden"></button>
    <salla-filters class="md:w-72 lg:sticky lg:top-20 flex-none lg:ml-auto" id="filters-menu"></salla-filters>
{% endif %}

{% if filters %}
    <a href="#filters-menu" class="filters-trigger bg-border-color text-primary lg:hidden mt-2">
        <i class="sicon-filter text-gray-text text-2xl me-2.5"></i>
    </a>
{% endif %}

{% hook 'product:index.items.start' %}

<!-- هنا قمنا بتغيير ترتيب الـ flex بحيث تكون الفلاتر على اليمين والمنتجات على اليسار -->
<div class="flex min-h-screen flex-row-reverse">
    <salla-products-list class="flex-1 min-w-0 overflow-auto"
        source="categories"
        source-value="1360317432"
        {{ filters ?'filters-Results':'' }}>
    </salla-products-list>
</div>

{% hook 'product:index.items.end' %}

    {% component home %}
{% endblock %}
{% block scripts %}
   
    <script defer src="{{ 'product.js' | asset }}"></script>
     <script defer src="{{ 'home.js' | asset }}"></script>
{% endblock %}